/* Reset Dasar & Setup Global */

/*
@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300..700&display=swap'); */
@import url("https://fonts.googleapis.com/css2?family=Anaheim:wght@400..800&display=swap");

@font-face {
    font-family: "HersheyN-HelpMe";
    src: url("fonts/HersheyN-HelpMe-Regular.ttf") format("woff2");
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: "HersheyN-HelpMe";
    src: url("fonts/HersheyN-HelpMe-Bold.ttf") format("woff2");
    font-weight: 400;
    font-style: normal;
}

:root {
    --dark: 27, 27, 27;
    --light: 255, 248, 236;
    --accent: 47, 97, 126;
    scrollbar-color: rgba(var(--light), 1) rgba(var(--dark), 0.5);
}

::selection {
    background-color: rgba(var(--accent), 0.3);
    color: rgba(var(--dark), 1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /* border: 1px dashed black; */

    overscroll-behavior: none;
}

html,
body {
    height: 100%;
    font-family: "Anaheim", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    /* font-weight: 300; */
    background-color: rgba(var(--light), 1);
    line-height: 1.3;
    overflow-x: hidden !important;
}

/* Layout Utama */
#layout {
    display: flex;
    width: 95vw;
    min-height: auto;
    flex-direction: row;
    background-color: rgba(var(--light), 1);
    /* border:1px solid black; */
    /* padding:1dvw; */
    /* justify-content: flex-end; */
    align-content: flex-end;
    justify-content: space-between;
    /* align-items: center; */
    margin: 0 auto;
    gap: 10px;
}

a,
a:link,
a:visited,
a:active {
    text-decoration: none;
    color: rgba(var(--dark), 1);
    border-bottom: 1px solid rgba(var(--dark), 1);
}

a:hover {
    color: rgba(var(--accent), 1);
    border-bottom: 2px dotted rgba(var(--dark), 1);
}

/* Kolom Author/Navigasi (Kiri) */

#author {
    width: 25%; /* Atau sesuaikan lagi jika perlu */
    max-width: 280px;
    height: 100dvh;
    background-color: rgba(var(--light), 1);
    padding: 20px 50px 25px 0px;
    display: flex;
    flex-direction: column;
    /* border: 1px solid black; */
    position: fixed;
    top: 0;
    align-self: flex-start; /* <-- this is the fix */
    z-index: 1000;
    border-right: 1px dashed rgba(var(--dark), 1);
}

#author span {
    /* font-weight: 400; */
    margin-bottom: 30px;
    display: block;
    text-align: left;
}

img.author-avatar {
    height: 10dvh;
    width: auto;
    object-fit: contain;
    /* border: 1px solid red; */

    margin-bottom: 1dvh;
    margin-top: 25dvh;
    object-position: left bottom;
    /* margin-left: -2.5vw; */

    opacity: 1;

    transition: opacity 0.1s ease-in-out;
    pointer-events: none !important;
}

#author:hover img.author-avatar {
    opacity: 0;

    /* transform: scale(11); */
    transition: opacity 0.1s ease-out;
}

img.author-avatar-double {
    height: 20dvh;
    width: auto;
    object-fit: contain;
    object-position: left;
    /* border: 1px solid red; */

    margin-top: 6dvh;
    position: absolute;
    /* margin-left: -2.5vw; */

    opacity: 0;
    transform: translateY(-20px); /* biar kesannya muncul dari bawah */
    transition:
        opacity 0.5s ease-out,
        transform 0.4s ease 0s;
    /* background-color: red; */
    pointer-events: none !important;
}

#author:hover img.author-avatar-double {
    /* Contoh efek hover */
    opacity: 1;
    /* transition: all 0.2s ease-in-out; */

    transform: translateY(0px); /* biar kesannya muncul dari bawah */
    transition:
        opacity 0.1s ease-in-out,
        transform 0.3s ease 0s;
}

.author-name {
    font-family: "HersheyN-HelpMe", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 400;
    --minFontSize: 25px;
    --maxFontSize: 28px;
    --scaler: 1vw;
    font-size: clamp(var(--minFontSize), var(--scaler), var(--maxFontSize));
    cursor: pointer;
}

#author-descriptions {
    margin-bottom: 10dvh;
    padding-right: 4%;
    width: 93%;
    align-self: flex-end;
}

.navigation-links {
    margin-left: 10%;
}

/* Navigasi */
#navigation ul {
    list-style: none;
}

#navigation li {
    margin-bottom: 4px;
    text-align: left;
    --minFontSize: 14px;
    --maxFontSize: 20px;
    --scaler: 1vw;
    font-size: clamp(var(--minFontSize), var(--scaler), var(--maxFontSize));
}

#navigation a {
    color: rgba(var(--dark), 1);
    /* font-size: 0.9em; */
}

#navigation a:hover {
    color: rgba(var(--accent), 1);
}

#navigation-head {
    /* font-weight: 200; */
    /* font-style: oblique; */
}

/* Kolom Konten (Kanan) - Menggunakan CSS Grid */
#contents {
    width: 100%;
    /* padding: 20px; */
    /* gap: 10px; */
    /* flex-grow: 1; */
    padding: 0;
    /* border:1px solid black; */
    /* display: flex; */
    /* flex-wrap: wrap;
    flex-direction: row; */
    /* justify-content: center; */
    margin-left: clamp(280px, 25%, 310px);
    margin-top: 3dvh;

    display: grid;

    gap: 20px;
    /*
    grid-template-columns: 1fr;*/
    /*grid-template-columns: 1.5fr 1.5fr;*/
}

#contents.columns-3 {
    grid-template-columns: 1.5fr 1.5fr 1.5fr;
}

#contents.columns-2 {
    grid-template-columns: 1.5fr 1.5fr;
}

#contents.columns-3 > *,
#portfolio-content > * {
    color: rgba(var(--dark), 1);
    /* border: 1px solid black; */
    /* padding:10px; */
    /* padding: 20px 30px; */
    padding: 20px 10px 20px 10px;
    max-width: calc(33.5% - 20px);
}

#contents.columns-2 > * {
    padding: 20px 30px 20px 30px;
    max-width: calc(50% - 20px);
}

.item-cover {
    margin-top: 20px;
}

a.item-titles {
    text-decoration: none;
    border: unset;
    font-family: "Anaheim", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

/* #contents > *:nth-child(even) {
    padding: 35px 20px;
}   */

/* Item dalam Konten Grid */
.item {
    /* important so a single div never gets distributed between columns */
    /* break-inside: avoid-column;
  margin-bottom: 16px;
  color:white; */
    background-color: rgba(var(--light), 1);

    height: auto;
}

.item > img,
.item > video {
    width: 100%;
    cursor: zoom-in;
}

.item-short-descriptions {
    margin: 20px 0 3% 20px;
}

.item-short-descriptions a {
    margin-left: 10px;
}

/* Kontainer Konten di dalam Item */
.item-content {
    color: black;
}

#portfolio-content {
    width: 70%;
    min-height: 85dvh;
    /* padding: 20px; */
    /* gap: 10px; */
    /* flex-grow: 1; */
    padding: 0;
    /* border:1px solid black; */
    /* display: flex; */
    /* flex-wrap: wrap;
    flex-direction: row; */
    /* justify-content: center; */
    margin-left: clamp(200px, 25%, 310px);
    margin-top: 3dvh;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
    gap: 20px;
    /* border: 1px solid red; */
}

#portfolio-content #portfolio-head {
    width: 100%;
    display: grid;
    grid-template-columns: 5fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 37px;
    /* border: 1px solid gray; */
}

#portfolio-content #portfolio-head .title {
    display: flex;
    flex-direction: column;
    gap: 0.6dvh;
    /* background-color: gray; */
    /* border: 1px solid gray; */
}

#portfolio-content #portfolio-head .title .work-title {
    font-weight: 500;
    --minFontSize: 20px;
    --maxFontSize: 40px;
    --scaler: 2vw;
    font-size: clamp(var(--minFontSize), var(--scaler), var(--maxFontSize));
    margin-bottom: 2vh;
    max-width: 80%;
}

#portfolio-content #portfolio-head .title .work-descriptions {
    font-weight: 200;
    --minFontSize: 15px;
    --maxFontSize: 20px;
    --scaler: 1vw;
    font-size: clamp(var(--minFontSize), var(--scaler), var(--maxFontSize));
    margin-bottom: 2dvh;
    max-width: 90%;
}

#portfolio-content #portfolio-head .title .details {
    font-weight: 200;
    --minFontSize: 15px;
    --maxFontSize: 20px;
    --scaler: 1vw;
    font-size: clamp(var(--minFontSize), var(--scaler), var(--maxFontSize));
}

#portfolio-content #portfolio-head .category {
    /* background-color: gray; */
    display: flex;
    flex-direction: column;
    /* border: 1px solid gray; */
    align-items: flex-end;
    justify-content: flex-start;
}

#portfolio-content #portfolio-head .category .details {
    font-weight: 200;
    --minFontSize: 15px;
    --maxFontSize: 20px;
    --scaler: 1vw;
    font-size: clamp(var(--minFontSize), var(--scaler), var(--maxFontSize));
    text-align: right;
    cursor: pointer;
}

#portfolio-content #portfolio-head .category .year-published {
    font-weight: 500;
}

#portfolio-content #portfolio-head .category .category-label::after {
    content: " /";
    color: rgba(var(--dark), 1);
    opacity: 0.6;
    cursor: text;
}

#portfolio-content
    #portfolio-head
    .category
    .category-label:last-of-type::after {
    content: "";
    cursor: text;
}

#portfolio-content #portfolio-banner {
    width: 100%;
}

#portfolio-content #portfolio-banner .image-banner {
    width: 100%;
    cursor: zoom-in;
}

#portfolio-body {
    width: 100%;
}

#notice,
#loading,
#image-view {
    --notice-width: 100vw;
    position: fixed;
    z-index: 1001;
    width: var(--notice-width);
    height: 100dvh;
    top: 0;
    font-size: 2em;
    padding: 1%;
    left: calc(50vw - (var(--notice-width) / 2));
    background-color: rgba(var(--light), 1);
    color: rgba(var(--dark), 1);
    flex-grow: 1;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    /* border: 1px solid rgba(var(--dark), 1); */
    display: flex;
    /**/
}

#notice,
#loading,
#image-view {
    visibility: collapse;
    opacity: 0; /* biar kesannya muncul dari bawah */
    transition:
        opacity 0.2s ease-in-out,
        transform 0.2s ease-in-out,
        visibility 0s linear 0.2s;
}

#notice.show,
#loading.show,
#image-view.show {
    visibility: visible;
    opacity: 1;
    transition:
        opacity 0.2s ease-in-out,
        transform 0.2s ease-in-out,
        visibility 0s linear 0s;
}

#notice img,
#loading img,
#image-view img {
    /* transform: scale(0.5); */
    transform: scale(0.1);
    opacity: 0;
}

#notice.show img,
#loading.show img,
#image-view.show img {
    /* transform: scale(1); */
    transform: scale(1);
    opacity: 1;
}

#image-view .full-image {
    height: 90dvh;
    width: auto;
    max-width: 94dvw;
    max-height: 100dvh; /* biar tetap ga lebih tinggi dari viewport */
    pointer-events: none;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    align-content: center;
    justify-content: center;
    gap: 20px;
}

#image-view .full-image > img,
#image-view .full-image > video {
    width: 100%;
    max-height: 100%;
}

#image-view .alt-text {
    font-weight: 200;
    --minFontSize: 15px;
    --maxFontSize: 15px;
    --scaler: 1vw;
    font-size: clamp(var(--minFontSize), var(--scaler), var(--maxFontSize));
    text-align: center;
    cursor: text !important;
    pointer-events: all !important;
    margin-top: 10px;
}

#image-view #close-image-view {
    width: 5dvh;
    aspect-ratio: 1/1;

    background-color: rgba(var(--accent), 0);
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    border: 1px solid rgba(var(--dark), 0.3);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40px' height='40px' viewbox='0 0 40 40'%3E%3Cpath d='M 10,10 L 30,30 M 30,10 L 10,30' stroke='gray' stroke-width='2' stroke-linecap='square' /%3E%3C/svg%3E");
    background-size: 100%;
}

#image-view #close-image-view:hover {
    background-color: rgba(var(--accent), 0.1);
}

/* .hidden {
    opacity: 0 !important;
    transform: translateY(10px);
    visibility: hidden;
    transition: opacity 0.4s ease, transform 0.4s ease, visibility 0s linear 0.4s;
} */

.pendingVisibility {
    visibility: hidden;
    transition: visibility 0s linear 0.4s;
}

.notice-caption {
    text-align: center;
}

.notice-head {
    margin-bottom: 1dvh;
}

.notice-back {
    margin-top: 3dvh;
}

#footer {
    display: flex;
    /* background-color: red; */
    justify-content: flex-end;
    padding: 3dvw 5dvw;
    /* border-top:1px dashed rgba(var(--dark), 1); */
    --minFontSize: 14px;
    --maxFontSize: 14px;
    --scaler: 1vw;
    font-size: clamp(var(--minFontSize), var(--scaler), var(--maxFontSize));
}

.dotting::after {
    content: "";
    animation: dots 1.5s steps(4, end) infinite;
}

@keyframes dots {
    0% {
        content: "";
    }
    25% {
        content: ".";
    }
    50% {
        content: "..";
    }
    75% {
        content: "...";
    }
    100% {
        content: "";
    }
}

/* --------------------------------------------- Responsive Breakpoint */
@media (max-width: 992px) {
    #contents {
        grid-template-columns: 1fr 1fr !important;
        margin-left: clamp(240px, 25%, 310px);
    }

    #contents.columns-2 > *,
    #contents.columns-3 > * {
        max-width: calc(50% - 20px);
    }
}

@media (max-width: 768px) {
    #layout {
        flex-direction: column;
        width: 95vw;
    }

    #author {
        width: 100%;
        max-width: unset;
        margin: 0 auto;
        height: auto;
        border-right: none;
        /* border-bottom: 1px solid #ccc; */
        flex-direction: row;
        padding: 20px 45px 20px 30px;
        justify-content: space-between;
        /* border: 1px solid red; */
    }
    #author span {
        margin-bottom: 0;
        /* border: 1px solid black; */
    }

    img.author-avatar,
    #author-descriptions,
    img.author-avatar-double {
        display: none;
    }

    #navigation ul {
        /* border: 1px solid black; */
        display: flex;
    }
    #navigation li {
        margin-bottom: 0;
        margin-left: 10px;
        /* font-size: 14px; */
    }

    #navigation-head {
        display: none;
    }

    #contents,
    #portfolio-content {
        width: 100%;
        margin-left: 0;
        margin-top: 9dvh;
    }

    #portfolio-content {
        /* padding: 20px 30px 20px 30px; */
    }

    .item {
        width: 100%;
        align-self: center;
    }

    #contents {
        grid-template-columns: 1fr 1fr !important;
    }

    #contents.columns-2 > *,
    #contents.columns-3 > * {
        max-width: calc(50% - 20px);
    }
}

@media (max-width: 576px) {
    #contents {
        grid-template-columns: 1fr !important;
    }

    #contents.columns-2 > *,
    #contents.columns-3 > * {
        max-width: 100%;
    }
}

@keyframes jitter {
    0% {
        transform: translate(0, 0) rotate(0deg);
    }
    10% {
        transform: translate(-1px, 1px) rotate(-0.5deg);
    }
    20% {
        transform: translate(1px, -1px) rotate(0.5deg);
    }
    30% {
        transform: translate(-1px, -1px) rotate(0.2deg);
    }
    40% {
        transform: translate(1px, 1px) rotate(-0.2deg);
    }
    50% {
        transform: translate(-0.5px, 0.5px) rotate(0.1deg);
    }
    60% {
        transform: translate(0.5px, -0.5px) rotate(-0.1deg);
    }
    70% {
        transform: translate(0, 1px) rotate(0.3deg);
    }
    80% {
        transform: translate(-1px, 0) rotate(-0.3deg);
    }
    90% {
        transform: translate(1px, -1px) rotate(0.2deg);
    }
    100% {
        transform: translate(0, 0) rotate(0deg);
    }
}

.jitter-frame {
    animation: jitter 2s infinite;
}

.jitter-frame2 {
    animation: jitter 3s infinite;
}

.jitter-frame3 {
    animation: jitter 2.4s infinite;
}
