body {
    /*display: flex;
                flex-direction: column;
                align-items: center;
                align-content: center;
                justify-content: center;
                justify-items: center;*/
    margin: 0;
    background-color: black;
    font-family: monospace;
    overflow: hidden;
}

#main-notice {
    width: 100dvw;
    height: 100dvh;
    background: #111111;
    color: #999999;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
    align-content: center;
    z-index: 100;
    opacity: 1;
    pointer-events: none;
}

#main-notice > * {
    font-size: 1.3em;
    max-width: 40ch;
}

#main-notice #loading-status-notice {
    font-size: 1.8em;
    max-width: 30ch;
    /*line-height: 34px;*/
}

.dotting::after {
    content: "";
    animation: dots 1.5s steps(4, end) infinite;
}

#main-notice.hide {
    opacity: 0 !important;
    transition:
        opacity 0.2s ease-in-out,
        transform 0.2s ease-in-out,
        visibility 0s linear 0.2s;
}

@keyframes dots {
    0% {
        content: "";
    }
    25% {
        content: ".";
    }
    50% {
        content: "..";
    }
    75% {
        content: "...";
    }
    100% {
        content: "";
    }
}

#main-canvas {
    /*background-color: black;*/
    padding: 25px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 95dvw;
    /*border: 1px solid #444444;*/
}

#main-canvas canvas {
    cursor: crosshair;
}

#main-controller {
    display: flex;
    padding: 10px;
    /*background-color: black;*/
    position: absolute;
    top: 0;
    left: 0;
    justify-content: center;
    flex-direction: column;
    gap: 3px;
    flex-wrap: wrap;
    /*max-width: 10px;*/
}

#openControl {
    padding: 10px !important;
    cursor: pointer;
    opacity: 0.7;
    width: 1dvw;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: center;
    height: 1dvw;
}

.rec {
    padding: 10px !important;
    cursor: pointer !important;
    opacity: 0.7 !important;
    display: flex !important;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    justify-items: center;
    width: 1dvw !important;
    height: 1dvw !important;
    gap: 10px !important;
    flex-wrap: nowrap !important;
}

.rec:hover {
    width: unset !important;
    opacity: 1 !important;
}

.rec > * {
    border: unset !important;
    border-radius: unset !important;
    padding: unset !important;
    box-shadow: unset !important;
    background: transparent !important;
    opacity: 0 !important;
    display: flex !important;
    align-items: flex-start !important;
    justify-items: flex-start !important;
    justify-content: center !important;
    min-width: 1dvw !important;
    transition: unset !important;
    /*min-width: 1dvw;*/
}

.rec .record-button {
    align-self: center !important;
    justify-self: center;
    opacity: 1 !important;
}

.rec:hover > * {
    opacity: 1 !important;
}

#openControl:hover {
    opacity: 1;
}

#popup-controller {
    width: 100dvw;
    height: 100dvh;
    background-color: #111111;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 10px;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    margin: auto;
}

#popup-controller > * {
    width: 80%;
}

#popup-controller > *,
.rec > *,
#openControl,
.rec > input,
#main-controller > * {
    background-color: #111111;
    padding: 4px;
    border: 2px solid #444444;
    color: #999999;
    border-radius: 10px;
}

#popup-controller > * {
    padding: 10px;
}

.rec {
    /*left: 0 !important;
    top: 0 !important;*/
    position: unset !important;
}

.popup-title {
    margin-top: 20px;
    border: none !important;
}

canvas {
    display: block;
}

.controller-title-1,
.controller-title-2 {
    color: white;
}

.controller-title-1::before {
    content: "--- ";
}

.controller-title-2::before {
    content: "---- ";
}

.startRecord,
.pauseRecord,
.saveRecord,
.deleteRecord {
    cursor: pointer;
    /*color: white;*/
}

.startRecord:hover,
.pauseRecord:hover,
.saveRecord:hover,
.deleteRecord:hover {
    cursor: pointer;
    color: white;
}

#trailbrushMotionConfigList > span,
#popTrailMotionConfigList > span {
    display: block;
    cursor: pointer;
}

#trailbrushMotionConfigList > span:hover,
#popTrailMotionConfigList > span:hover {
    color: white;
}
